include ../rate-btn/rate-btn

mixin card-room({link, url, number, lux, price, stars, comments}) 
  a(href=link).card-room
    .card-room__gallery
      img(src=url).card-room__image
      .card-room__slider
        i.card-room__slider__arrow expand_more
        i.card-room__slider__arrow expand_more
      .card-room__circles
        .card-room__circle.card-room__circle_fill
        .card-room__circle
        .card-room__circle
        .card-room__circle
    footer.card-room__footer
      .card-room__room-details
        h2.card-room__room-number=number
          if lux
            span.card-room__luxury люкс
        .card-room__price #{price}₽
      .card-room__room-rating
        +rate-btn(5,stars)
        .card-room__comments=comments



