extends ../page-template
include ../../components/form-booking/form-booking
include ../../components/advantages/advantages
include ../../components/bullet-list/bullet-list
include ../../components/review/review
include ../../components/chart/chart
include ../../components/heading/heading

block variables
  -
    const pageTitle = 'Room details page'
    const footerWithBorder = true
    const { gallery, advantages, reviews, chart, rules, booking } = require('./data.json')

block main
  main.room-details
    .room-details__gallery
      .room-details__gallery-item
        img.room-details__image(src=gallery[0].src, alt=gallery[0].alt)
      .room-details__gallery-item
        img.room-details__image(src=gallery[1].src, alt=gallery[1].alt)
        img.room-details__image(src=gallery[2].src, alt=gallery[2].alt)
    .room-details__description
      .room-details__info
        .room-details__item
          .room-details__subtitle
            +heading({ text: 'Сведения о номере', tag: 'h2', })
          .room-details__advantages
            each advantage in advantages
              +advantages(advantage)
        .room-details__item
          .room-details__subtitle
            +heading({ text: 'Впечатления от номера', tag: 'h2', })
          +chart({ data: chart })
        .room-details__reviews
          .room-details__item
            .room-details__subtitle
              +heading({ text: 'Отзывы посетителей номера', tag: 'h2', })

              - let reviewsNumberText;
              case true
                when reviews.length === 0
                  - reviewsNumberText = 'отзывов';
                when reviews.length === 1
                  - reviewsNumberText = 'отзыв';
                when reviews.length > 4
                  - reviewsNumberText = 'отзывов';
                default
                  - reviewsNumberText = 'отзыва';

              span.room-details__reviews-number= `${reviews.length} ${reviewsNumberText}`
            .room-details__reviews-wrapper
              each comment in reviews
                +review(comment)
        .room-details__rules
          .room-details__item
            .room-details__subtitle
              +heading({ text: 'Правила', tag: 'h2', })
            +bullet-list({ rules })
        .room-details__item
          .room-details__subtitle
            +heading({ text: 'Отмена', tag: 'h2', })
          p.room-details__details
            | Бесплатная отмена в течение 48 ч.
            | После этого при отмене не позднее чем за 5 дн. до прибытия
            | вы получите полный возврат за вычетом сбора за услуги.
      .room-details__booking
        +form-booking(booking)
