mixin button({ href = "/mock-address/change-me", text = "click me", style, size }={})
  - let sizeModifier
  - let styleModifier
  
  case style
    when "arrow"
      - styleModifier = "button_with_arrow"
    when "border"
      - styleModifier = "button_with_border"
    when "gradient"
      - styleModifier = "button_with_gradient"
    when "ghost-link"
      - styleModifier = "button_with_ghost-link"
    when "link"
      - styleModifier = "button_with_link"
    

  case size
    when "s"
      - sizeModifier = "button_size_s"
    when "m"
      - sizeModifier = "button_size_m"
    default
      - sizeModifier = ""
  
  if href
    a.button(
      href=href 
      aria-label=text 
      class=styleModifier
      class=sizeModifier
    )=text
  else
    button.button(
      type="submit" 
      class=styleModifier
      class=sizeModifier
    )=text
