mixin button({href, text, style, size}={})
  if href
    a(
      href=href 
      aria-label=text 
      class=`button button_with_${style}`
      class= size ?  `button_size_${size}` : ""
    )=text
  else
    button(
      type="submit" 
      class=`button button_with_${style}`
      class= size ?  `button_size_${size}` : ""
    )=text
