mixin input(title, placeholder, type)
    .input_default
        label= title
        input(
            type= type
            placeholder= placeholder
        )

mixin radiobutton
    .input_radio
        label(for="man") Мужчина
            input(
                type="radio"
                name="gender"
                id="man"
                checked
            )
            .checkmark
        label(for="woman") Женщина
            input(
                type="radio"
                name="gender"
                id="woman"
            )
            .checkmark
        

mixin checkbox
    .input_checkbox
        label Завтрак
            input(type="checkbox")
            .checkmark
        label Письменный стол
            input(type="checkbox")
            .checkmark
        label Стул для кормления
            input(type="checkbox")
            .checkmark

mixin bullet-list(title)
    .bullet-list
        h3= title
        ul.bullet-list
            li Нельзя с питомцами
            li Без вечеринок и мероприятий
            li Время прибытия — после 13:00,
               |а выезд до 12:00

mixin advantages(title, description, url)
    .advantages(data-url=url)
        .advantages__description
            h4.description__title= title
            p= description

