mixin radiobutton
    .input_radio
        label(for="man") Мужчина
            input(
                type="radio"
                name="gender"
                id="man"
                checked
            )
            .checkmark
        label(for="woman") Женщина
            input(
                type="radio"
                name="gender"
                id="woman"
            )
            .checkmark