mixin radiobutton
    .input_radio
        label Мужчина
            input(
                type="radio"
                name="gender"
                value="man"
                checked
            )
            .checkmark
        label Женщина
            input(
                type="radio"
                name="gender"
                value="woman"
            )
            .checkmark