mixin radio-button(items = [{text: "item", name: "radio-button", value: "item", isChecked: false}])
  .radio-button
    each item in items
      label.radio-button__title= item.text
        input.radio-button__input(
          type="radio"
          name= item.name
          value= item.value
          checked= item.isChecked
        )
        .radio-button__checkmark