mixin radio-button
  .radio-button
    label.radio-button__title Мужчина
      input.radio-button__input(
        type="radio"
        name="gender"
        value="man"
        checked
      )
      .radio-button__checkmark
    label.radio-button__title Женщина
      input.radio-button__input(
        type="radio"
        name="gender"
        value="woman"
      )
      .radio-button__checkmark