include ../date-dropdown/date-dropdown
include ../dropdown/dropdown

mixin form-booking({number, price, discount}) 
  form.form-booking
    header.form-booking__room-details
      h2.room-details__room-number=number
        span  люкс
      .room-details__price.js-room-details__price #{price}₽
    .form-booking__date-picker-wrapper
      +date-dropdown("прибытие", "выезд")
    .form-booking__dropdown-wrapper
      h3.form-booking__sub-title гости
      +dropdown({show: false, title: ""}, ["взрослые", "дети", "младенцы"])
    .form-booking__order-details
      .order-details__order-item
        .order-item__name #{price} ₽ х 
          span.order-item__days 4 суток
        .order-item__price 39 960
      .order-details__order-item
        .order-item__name.discount(date-discount=discount) 
          span.order-item__title Сбор за услуги: скидка #{discount} ₽
        .order-item__price 0
      .order-details__order-item
        .order-item__name 
          span.order-item__title Сбор за дополнительные услуги
        .order-item__price 300
      .order-details__item-total
        .item-total__name Итого
        .item-total__dots
        .item-total__price 38 081₽
    button.button_arrow(type="submit") забронировать
      i.material-icons arrow_forward