mixin field({mask, type, placeholder, text, datepicker, readonly = false} = {})
  input.field(
    class= mask ? "mask js-mask" : ""
    type=type
    placeholder= placeholder
    value=text
    readonly= readonly
  )
    