include ../logo/logo
include ../button/button

mixin header({auth, lang}, items)
  header.header
    .header__wrapper
      +logo
      nav.header__navigation
        ul.header__navigation__list
          each item in items
            li
              if item.expanded
                details.header__navigation__details
                  summary.header__navigation__summary=item.name
              else 
                a(href=item.href).header__navigation__link=item.name
        details.header__burger
          summary.header__burger__toggle menu
          ul.header__burger__list
            each item in items
              li.header__burger__item
                if item.expanded
                  details.header__navigation__details
                    summary.header__navigation__summary.header__burger__link=item.name
                else 
                  a(href=item.href).header__burger__link=item.name
        .header__navigation__toolbar
          if auth
            .header__navigation__user=user
          else 
            .header__sign-in-btn
              +button({
                href:"login.html", 
                style: "border", 
                text: (lang == "ru") ? "войти" : "Login", 
                size: "x"
              })
            .header__sign-up-btn
              +button({
                href:"registration.html", 
                style: "gradient", 
                text: (lang == "ru") ? "зарегистрироваться" : "Register", 
                size: "x"
              })