include ../logo/logo
include ../subscription-input/subscription-input
 
mixin footer({ creative = true, slogan, formTitle, formDescription, copyright }, items = [{ title, list: [{name:"click me"}] }])
  footer.footer(class=creative ? "footer_creative" : "")
    section.footer__main
      section.footer__section
        .footer__logo
          +logo
        p.footer__description=slogan
      unless creative
        each item in items
          section.footer__section
            h3.footer__subtitle=item.title
            ul.footer__navigation
              each link in item.list
                li.footer__navigation-item
                  a.footer__link(href="/mock-address/change-me")=link.name
        form.footer__section
          h3.footer__subtitle=formTitle
          p.footer__description=formDescription
          .footer__control
            +subscription-input
    .footer__wrapper
      .footer__copyright-bar
        unless creative
          p.footer__copyright=copyright
        .footer__social
          a(href="https://twitter.com/" rel="noopener noreferrer" target="_blank").footer__social-link
            img(src=require('../../components/footer/img/twitter.svg').default, alt="twitter")
          a(href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank").footer__social-link
            img(src=require("../../components/footer/img/fb.svg").default, alt="facebook")
          a(href="https://www.instagram.com/" rel="noopener noreferrer" target="_blank").footer__social-link
            img(src=require("../../components/footer/img/instagram.svg").default, alt="instagram")